<html>
  <body>
    
    <header class="header">
      
    </header>
    <div id="formContainer">
      <h1> Create Account </h1>
     <form id="registraionForm">
       <div id="formGroup">
         <label id="nameLabel" for="name"> Your name </label>
         <br />
         <input type="text" name="name" id="name" placeholder="Enter your name" required/>
         <br />
         <br />
         <label id="mobilenumberLabel" for="mobileNumber"> Mobile number</label>
         <br />
         <select  name="countryCode" id="countryCode">
           <option value="91"> IN +91 </option>
         </select>
         <input style="width: 76%;" type="text" name="mobileNumber" id="mobileNumber" placeholder="Enter your mobile number" required/>
         <br />
         <br />
         <label id="emailLabel" for="email"> Email (optional)</label>
         <br />
         <input type="text" name="email" id="email" placeholder="Enter your email" />
         <br />
         <br />
         <label id="passwordlLabel" for="password"> Mobile number</label>
         <br />
         <input type="text" name="password" id="password" placeholder="At least 6 characters" required/>
         <br />
         <p class="passwordWarning" id="passwordWarning">Passwords must be at least 6 characters. </p>
         <br />
         <p><strong> We will send you a text to verify your Phone.<br/> Message and Data rates may apply. </strong></p>
         <br />
         <input class="submitButton" type="submit" name="submit" value="Continue" id="submitButton"/>
         <hr style="border: 1px solid silver;"/>
         <br />
         <br />
         <p>Already have an acount? <a class="links" href="#" >Sign In ></a></p>
         <p>Buying for work? <a class="links" href="#" >Create a business account ></a></p>
       </div>
     </form>
    </div>
    <br />
    <br />
    <hr />
    <footer>
      <a class="links" href="#" >Conditions of Use</a>
      <a class="links" href="#" >Privacy Notice</a>
      <a class="links" href="#" >Help</a>
      <p>&copy 2023 TUV.com, Inc. or its affiliates</p>
    </footer>
  </body>
</html>